<div class="title-area">
  <app-title caption="Hello World" [color]="selectedColor()"/>
  <app-title caption="How are you?" />
</div>
<div class="colors-area">
    <app-string-selector/>
</div>

<div class="fonts-area">
    @for(item of fonts(); track $index) {
        <div class="item"
            (click)="selectFont(item)"
            [class.chosen]="item === selectedFont()"
        >{{item}}</div>
    }
</div>

<div class="sizes-area">
    @for(item of sizes(); track $index) {
        <div class="item"
            (click)="selectSize(item)"
            [class.chosen]="item === selectedSize()"
        >{{item}}</div>
    }
</div>

<div class="text-area">
    <textarea
        [style.color]="selectedColor()"
        [style.font-family]="selectedFont()"
        [style.font-size]="selectedSize()"
    ></textarea>
</div>