<div class="title-area">
  <app-title caption="Hello World" [color]="selectedColor()"/>
  <app-title caption="How are you?" />
</div>
<div class="colors-area">
    <app-string-selector 
        [options]="colors()"
        [selected]="selectedColor()"
        (selectedChange)="selectedColor.set($event)"
        />
</div>

<div class="fonts-area">
    <app-string-selector 
        [options]="fonts()"
        [(selected)]="selectedFont"
        />
</div>

<div class="sizes-area">
    <app-string-selector 
        [options]="sizes()"
        [(selected)]="selectedSize"
        />
</div>

<div class="text-area">
    <textarea
        [style.color]="selectedColor()"
        [style.font-family]="selectedFont()"
        [style.font-size]="selectedSize()"
    ></textarea>
</div>