:host {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .toolbar {
        display: flex;
        flex-direction: row;

        img {
            height: 21px;
        }
    }

    .results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        div {
            border: 1px solid gray;
            padding: 4px;
            border-radius: 4px;
        }
    }
}