:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.fonts-area, .sizes-area, .colors-area {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}

.text-area {
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
}

textarea {
    resize: none;
    outline: 0px transparent;
    border: 0px transparent;
}

.item {
    border: 1px solid lightgray;
    padding: 2px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.item:hover {
    background-color: lightgray
}

.item.chosen {
    background-color: lightgreen;
}